input{
    text-overflow: clip;
}
.separarAdmin{
    display: flex;
    flex-direction: row;
    gap: 200px;
}
.conteudo-margin{
    display: flex;
    flex-direction: column;
    
}
.separarAdmin h4{
    margin-top: 100px;
    margin-bottom: 120px;
}